@import './reset.css';
@import './media.css';

@font-face {
	font-family: 'Roboto';
	src: url(./fonts/Roboto-Bold.ttf);
}

@font-face {
	font-family: 'Roboto Regular';
	src: url(./fonts/Roboto-Regular.ttf);
}

@font-face {
	font-family: 'Arial Italic';
	src: url(./fonts/ofont.ru_Arial.ttf);
}

.wrapper {
	width: 1440px;
}

/** block six **/

.content_six {
	display: grid;
	grid-template-rows:200px 180px 180px;
	align-items:center;
}

.market_title {
	padding-left: 5%;
	padding-top: 3%;
	color:gray;
	font-family: 'Roboto';
	font-size: 350%;
	align-self:start;
}

.market_content {
	padding-left: 5%;
	display: grid;
	grid-template-columns: repeat(2,40%);
	align-self:center;
	color:black;
}

.volume {
	font-family: 'Roboto';
	font-size: 250%;
}

span {
	font-family: 'Roboto';
	font-size: 50%;
}

.text_market {
	font-family: 'Arial Italic';
}

.market_goal {
	height: 100%;
	display: grid;
	background-color: lightgrey;
	padding-left: 5%;
	grid-template-columns: repeat(2,40%);
	align-content:center;
	color:black;
}

.goal_volume {
	font-family: 'Roboto';
	font-size: 300%;
}

.text_goal {
	align-self: end;
	font-family: 'Arial Italic'; 
}

#years {
	font-family: 'Arial italic';
	font-weight: bold;
	font-size: 120%;
}



/** block seven **/

.content_seven {
	width: 100%;
	display: grid;
	grid-template-rows: 150px 100px 300px;
	background-image: url(../icons8-красная-окружность-96.png);
}

.market_products {
	padding-left: 5%;
	display: flex;
	flex-direction: row;
	font-family: 'Roboto';
	gap: 1em;
}

.market_text {
	padding-left: 5%;
	font-family: 'Roboto Regular';
	width: 50%;
}

.market_img {
	position: relative;
	top: -100px;
}

/** block ten **/

.market_digits {
	display: grid;
	grid-template-columns: repeat(2,35%);
	grid-template-rows: repeat(4,100px);
	grid-auto-flow: column;
	justify-content: center;
	align-items:center;
	gap: 0px 25px;
}

.market_digits h1 {
	font-family: 'Roboto';
}

.market_digits p {
	font-family: 'Roboto Regular';
}

.our_goal {
	margin-top: 10em;
	background-color: lightgrey;
	height: 200px;
	font-family: 'Roboto';
	font-size: 12px;
	padding: 15%;
}

/** block eleven **/

.ekosystem {
	display: grid;
	grid-template-columns: repeat(3, 30%);
	justify-content: space-between;
	align-items:center;
	
}

.tapigo {
	display: flex;
	flex-direction: row;
	font-family: 'Roboto';
	justify-self:center;
}

.tapigo p {
	align-self:center;
}

.user {
	width: 200px;
	height: 200px;
	border: 30px solid #4a74fd;
	border-radius: 50%;
	font-family: 'Roboto';
}

.user p {
	position: relative;
	top: 3.5em;
	left: 1em;
}

.ekosystem_text {
	background-color: lightgrey;
	height: 100%;
	font-family: 'Roboto Regular';
	line-height: 2.5;
	width: 100%;
	padding: 12px;
	text-align: justify;
	justify-self: stretch;
}
